.container-error{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0f1b21;
    color: rgb(248, 247, 247);
}

.error-page{
    size: 2rem;
}