.Navbar-conatainer{
    display: flex;
    justify-content:space-between;
    text-align: center;
    background-color: #172430;
    width: 100%;
}

.Navbar-conatainer ul{
    list-style: none;
    display: flex;
    gap: 40px;
}